{% extends 'base.html' %}
{% block title %}Products Page{% endblock %}

{% block content %}
<div>
    <h1 class="text-center">Products</h1>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4">
                {% if product.image_url %}
                    <img src="{{ product.image_url }}" class="card-img-top img-fluid" alt="{{ product.name }}"
                    style="object-fit: contain; height: 200px; width: 100%;" />
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>

                    {% if product.price_id %}
                        <form action="/add_to_cart" method="POST">
                            <input type="hidden" name="price_id" value="{{ product.price_id }}">
                            <button class="btn btn-primary" type="submit">Add to Cart</button>
                        </form>
                    {% else %}
                        Price Not Set
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}